{% extends 'base.html' %}

{% block title %}Oghenekevbe's Resume{% endblock title %}

{% block content %}
<style>
    p,h5,h6{
        color: #fff;
    }
    ul li{
        color:#b8b5b5;

    }
    #fas li{
        list-style: none;
    }


</style>

<div class="container mt-3">
  <div class="row">
    <div class="col">
      <h5>Professional Summary</h5>
      <p>Enthusiastic customer service professional newly transitioned to the technology industry with knowledge of Python using the Django framework. Adept in HTML, CSS, and some Javascript, with the ability to link external databases as well as the default SQLite. Seeking internship opportunities to hone skills and contribute to organizational objectives and goals.</p>

      <h5>Education</h5>
      <ul>
        <li>Full Stack Developer - October 2022, Alabian Solutions Coding Academy</li>
        <li>ALX Virtual Assistant Training course - July 2022</li>
        <li>Bachelor of Science in Accounting - 2010, Delta State University, Abraka, Delta State, Nigeria</li>
      </ul>

      <h5>Work Experience</h5>
      <h6>Relationship Manager – Fidelity Bank Plc</h6>
      <p>Dec 2021 – May 2022</p>
      <ul>
        <li>Managed a team of 4 relationship managers, setting sales goals as individuals and as a team</li>
        <li>Communicated directly with customers to ensure pleasant, productive, and memorable experiences</li>
        <li>Cold-called prospective customers and reached out to clients with dormant accounts to renew relationships</li>
        <li>Sold, monitored, and maintained Agency banking point of sales terminals</li>
        <li>Wrote performance reports and continuously reviewed performance against set targets</li>
      </ul>

      <h6>Customer Service Officer - Zenith Bank Plc</h6>
      <p>Nov 2012 – Dec 2021</p>
      <ul>
        <li>Performed various job functions, including Fund Transfer Officer, Cash Officer, Teller, and Retail Marketer</li>
        <li>Trained new associates and maintained an enthusiastic attitude, friendly demeanor, and integrity-driven conduct</li>
        <li>Became an expert on new products and delivered information to customers in a helpful and educational manner</li>
        <li>Answered customer calls and provided information about banking products usage, billing issues, and general enquiries</li>
        <li>Learned about different products and provided customers with information about each one, complementary products, and suggestions for their usage</li>
        <li>Performed periodic ATM card transactions reconciliation</li>
      </ul>

      <h6>Financial Planner - Capital Express Assurance Limited</h6>
      <p>2011-2012</p>
      <ul>
        <li>Built and maintained client bases</li>
        <li>Recruited prospective clients and contacted them periodically to determine changes in their financial status and give relevant guidance</li>
      </ul>

      <h5>Certifications</h5>
      <ul>
        <li>Certificate of National Service(NYSC) Oke-Ilewo, Abeokuta, Ogun State - July 2012</li>
        <li>Professional Conducts &amp; Ethics Certification (CIBN)</li>
      </ul>

      <h5>Skills</h5>
      <ul id="fas">
        <li><i class="fa fa-check"></i> HTML</li>
        <li><i class="fa fa-check"></i> CSS</li>
        <li><i class="fa fa-check"></i> Python</li>
        <li><i class="fa fa-check"></i> Django</li>
        <li><i class="fa fa-check"></i> Javascript</li>
        <li><i class="fa fa-check"></i> Bootstrap</li>
        <li><i class="fa fa-check"></i> Google workplace skills</li>
        <li><i class="fa fa-check"></i> Proficiency in Microsoft Office applications</li>
        <li><i class="fa fa-check"></i> Data Entry</li>
        <li><i class="fa fa-check"></i> Canva application Skills</li>
        <li><i class="fa fa-check"></i> Adobe photoshop, Affinity and Corel draw for graphic design</li>
      </ul>

      <hr>
      <div class="row">
        <div class="col-md-12">
          <h5 class="resume-title">Hobbies and Interests</h5>
          <div class="resume-item pb-0">
            <h6>Artistic pursuits</h6>
            <p class="font-italic">I love to draw, paint and dabble in a bit of photography and writing - creative and technical.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}