body{
    background-color: #01041d!important;
}

.btn{
    background-color: #C0C0C0;
    color: #fff;

}

.navbar{
    background-color: #01041d!important;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.navbar a, #base-text{
    color: #fff;
}

.banner{
    background-image: linear-gradient(to right, rgba(1, 4, 29, 1), rgba(0, 0, 0, 0.8)), url('../../media/images/background.png');
    background-position: right;
    background-size: cover;
    width: 100% !important;
    border-bottom-style: ridge;
    border-bottom-color: #C0C0C0 !important;
    display: flex !important;

}

.banner .image-wrap {
    margin: 30px 5px 5px 5px !important;

    
}
.banner .image-wrap img{
    border-radius: 50% !important; 
    border-style: ridge; 
    border-color: #C0C0C0 ; 
    width: 200px;
    box-shadow: rgba(3, 102, 214, 0.3) 0px 0px 0px 3px;    
}

.card{
    background-color: rgba(0, 0, 0, 0.1);
}

/* animations  */
.ml6 {
    position: relative;
    font-weight: 900;
    font-size: 1.5em;
  }
  
  .ml6 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.2em;
    padding-right: 0.05em;
    padding-bottom: 0.1em;
    overflow: hidden;
  }
  
  .ml6 .letter {
    display: inline-block;
    line-height: 1em;
    color: #fffefe !important;
    opacity: 0.5;
  }
